.use-ref-scroll-example {
  &__title {
    margin-top: 15px;
  }

  &__list {
    height: 200px;
    overflow: auto;
    border: 1px solid rgb(211, 211, 211);
  }

  &__item {
    padding: 20px;
  }

  * + &__item {
    border-top: 1px solid rgb(211, 211, 211);
  }

  &__button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
  }
}
